@font-face{
	font-family: Mont;
	src: url('/fonts/Montserrat-VariableFont_wght.ttf');
	font-weight: 100 900;
}
html{
	height: 100%;
}
body{
	background-color: #1c2623;
	height: 100%;
	max-height: 800px;
}

h1{
	margin:0px;
	color:white;
	font-family: Mont;
	font-weight: 900;
	font-size: 2.6em;
}
h2{
	margin:0px;
	color:white;
	font-size: 2em;
	font-family: Mont;
	font-weight: 450;
	font-style: italic;

}
h3{
	margin:0px;
	color:white;
}
p{
	color: white;
	text-indent: 2em;
	font-family: Mont;
	font-size: 1.2em;
}
#container{
	display: grid;
	grid-template-columns: 1fr 8fr;
	height: 100%;
}

#nav-bar{
	border-right: solid #32433e;
	border-bottom: solid #32433e;
	width: 50%;
	min-width: 160px;

}

.nav-item{
	display: block;
	margin: 0px;
	padding: 0px;
	border: 0px;
	color: white;
	background-color: transparent;
	font-family: Mont;
	font-weight: 600;
	font-size: 1em;
}

.nav-item:hover{
	color: #32433e;
}
#lore{
	/*background-color: #231c26;*/
	/*text-align: center;*/
	margin-top: 10px;
	max-width: 60%;
	min-width: 600px;
	height: 100%;
}

.quote{
	font-size:1em;
	margin: 0 2em;
	text-indent: 0;
}
